@charset "utf-8";

.con { width: 100%; clear:both; }
.con section { width: 100%; }
.full_bn { width:100%; height:395px; background-image: url("../sub/sub01_live_cj/live_cj.png"); overflow: hidden; }
.full_bn h2{ width: 100%; height: 100%; font-size: 110px; text-align: center; line-height: 500px;  }

/*스크롤 슬라이드*/
.slide_wrap { clear:both; width: 1500px; height: 340px; position: relative; margin: 0 auto; }
.slide { width: 1440px; height: 320px; margin: 0 auto;  overflow: hidden;  }
.slide button { display: block; width:75px; height:103px;  border:0; outline: 0px; position:absolute; top:70%;  z-index: 88; cursor: pointer; text-indent: -9999px;}
.slide .pr { background-image: url("../main/icon/onester_pr_btn.png"); left: 150px; }
.slide .nt { background-image: url("../main/icon/onester_nt_btn.png"); right: 150px; }
.slide .slide_fr { width: 3600px; height: 320px; }
.slide .slide_fr a { display: block; float: left; width:240px; height:320px; background-repeat: no-repeat; background-position: center center; }

.slide .slide_fr a.item01 { background-image: url("../sub/sub01_live_cj/01.png");}
.slide .slide_fr a.item01:hover {background-image: url("../sub/sub01_live_cj/01.gif"); }

.slide .slide_fr a.item02 { background-image: url("../sub/sub01_live_cj/02.png");}
.slide .slide_fr a.item02:hover {background-image: url("../sub/sub01_live_cj/02.gif"); }

.slide .slide_fr a.item03 { background-image: url("../sub/sub01_live_cj/03.png");}
.slide .slide_fr a.item03:hover {background-image: url("../sub/sub01_live_cj/03.gif"); }

.slide .slide_fr a.item04 { background-image: url("../sub/sub01_live_cj/04.png");}
.slide .slide_fr a.item04:hover {background-image: url("../sub/sub01_live_cj/04.gif"); }

.slide .slide_fr a.item05 { background-image: url("../sub/sub01_live_cj/05.png");}
.slide .slide_fr a.item05:hover {background-image: url("../sub/sub01_live_cj/05.gif"); }

.slide .slide_fr a.item06 { background-image: url("../sub/sub01_live_cj/06.png");}
.slide .slide_fr a.item06:hover {background-image: url("../sub/sub01_live_cj/06.gif"); }

.slide .slide_fr a.item07 { background-image: url("../sub/sub01_live_cj/07.png");}
.slide .slide_fr a.item07:hover {background-image: url("../sub/sub01_live_cj/07.gif"); }

.slide .slide_fr a.item08 { background-image: url("../sub/sub01_live_cj/08.png");}
.slide .slide_fr a.item08:hover {background-image: url("../sub/sub01_live_cj/08.gif"); }

.slide .slide_fr a.item09 { background-image: url("../sub/sub01_live_cj/09.png");}
.slide .slide_fr a.item09:hover {background-image: url("../sub/sub01_live_cj/09.gif"); }

.slide .slide_fr a.item10 { background-image: url("../sub/sub01_live_cj/10.png");}
.slide .slide_fr a.item10:hover {background-image: url("../sub/sub01_live_cj/10.gif"); }

.slide .slide_fr a.item11 { background-image: url("../sub/sub01_live_cj/11.png");}
.slide .slide_fr a.item11:hover {background-image: url("../sub/sub01_live_cj/11.gif"); }

.slide .slide_fr a.item12 { background-image: url("../sub/sub01_live_cj/12.png");}
.slide .slide_fr a.item12:hover {background-image: url("../sub/sub01_live_cj/12.gif"); }

.slide .slide_fr a.item13 { background-image: url("../sub/sub01_live_cj/13.png");}
.slide .slide_fr a.item13:hover {background-image: url("../sub/sub01_live_cj/13.gif"); }

.slide .slide_fr a.item14 { background-image: url("../sub/sub01_live_cj/14.png");}
.slide .slide_fr a.item14:hover {background-image: url("../sub/sub01_live_cj/14.gif"); }