@charset "utf-8";

.wrap { width: 100vw; }


/*header*/

.hd { width: 100vw;  height: 130px; background-color: transparent;  border-bottom: 1px solid #6b6a65; position: relative;  position: fixed; left: 0; top: 0; z-index: 95; }
.logo_top { display: block; background-image: url("main/cj_logo_W.png"); width: 160px; height: 90px; background-position: center center; background-repeat: no-repeat; text-indent: -9999px; float: left; margin-left: 100px; padding-top: 40px; }

header.on {background-color: rgba(255,255,255,0.8); height:620px; }
header.on .logo_top { background-image: url("main/cj_logo_b.png"); }

header.on .gnb_wrap {  opacity:1; visibility: visible;  height: 620px;   }
header.on .gnb_wrap .m_lst a { color:#000; }
header.on .gnb .r_box .r_lst li a , header.on .gnb .r_box .r_lst li.op_btn { border:1px solid #ef151e; color:#000;}
header.on .gnb .r_box .r_lst li a.active { display: block; float: left; border: 1px solid #ef151e; text-align: center; color:#fff; background-color:#ef151e;  }

/*gnb on 일때 로고 검정/ 오른쪽 리스트 색 반전 / 버튼 바뀜 gnb 크기도 커짐.*/

/*gnb*/
.gnb { width: 100%; height: 130px;  background-color: transparent; }

.gnb_wrap { width: 1200px; height:130px;  margin: 0 auto; position:relative; padding-top: 20px; opacity: 0; visibility: hidden; }

.gnb_wrap .g_ul { width:1100px; height: 130px; margin: 0 auto; margin-left: -15px; }
.gnb_wrap .g_ul:before { content: ""; display: block; width: 700px; height: 470px; position:absolute; background-color:rgba(255,255,255,0.8) ; top:150px;
left:-410px;}
.gnb_wrap .g_ul:after { content: ""; display: block; width: 700px; height: 470px; position:absolute; background-color:rgba(255,255,255,0.8) ; top:150px; right: -540px;}

.gnb_wrap .g_ul:before,.gnb_wrap .g_ul:after { opacity: 0px; visibility: hidden; transition :0.6s; }
.gnb_wrap .m_lst  { float: left; width: 145px; height: 60px; margin-top:40px; margin-left: 5px; }
.gnb_wrap .m_lst:hover a.m_a { color:#006ecd; }
.gnb_wrap .m_lst a { display: block; float: left; width: 150px; font-size: 20px; color: #fff;; text-align: center; font-weight: 700; }

.m_lst ul.sub { position: absolute; top: 150px; opacity: 0px; visibility: hidden; transition :0.6s; height: 450px; background-color: rgba(255,255,255,0.8) ; padding-top: 20px;}
.m_lst .sub:after { content:""; display:block; clear: both; }
.m_lst .sub li { width: 150px; height: 50px; }
.m_lst .sub li:first-child { padding-top: 30px;}
.gnb_wrap .sub li a:hover  { color:#006ecd; text-decoration: underline; font-weight: 600;}
.m_lst .sub li a { display: block; width: 143px; height: 50px;  font-size: 18px; color: black; text-align: center; font-weight: 500;}

/*리스트에 호버하면 각각나와 정신차려*/
.gnb_wrap:hover .m_lst .sub { opacity:1; visibility:visible; }
.gnb_wrap:hover  .g_ul:before ,.gnb_wrap:hover .g_ul:after {opacity: 1px; visibility:visible; }

.gnb .r_box { width: 310px; height:130px; position:absolute; right: 100px; top: 60px;}
.gnb .r_lst { width: 310px; height:130px;  }
.gnb .r_box .r_lst li { width: 100px; float:left; }
.gnb .r_box .r_lst li a { display: block; float: left; border: 1px solid #006ecd; text-align: center; color:#000; color: #fff;}
.gnb .r_box .r_lst li a.active { background-color: #006ecd; border: 1px solid #006ecd; color:#fff; font-weight: 600; } 
.gnb .r_box .r_lst .ko,.gnb .r_box .r_lst .en { width: 48px; height: 30px;  line-height: 30px; }
.gnb .r_box .r_lst .en { border-left: 0; }
.gnb .r_box .r_lst .sin {width:80px; height: 30px; line-height: 30px; margin-left: 5px; }

.gnb .r_box li.op_btn { width: 32px; height:32px; position:relative; }
.gnb .r_box li.op_btn .lst { border: 1px solid #006ecd;  width: 32px; height:32px; background-color: transparent;}
.gnb .r_box li.op_btn .lst,.gnb .r_box li.op_btn .lst i { display: block;}
.r_box li.op_btn .lst i { width: 26px; height: 2px; background-color: #000000; position: absolute; left: 3px; text-indent: -9999px;}

.gnb .r_box li.op_btn .lst .i1 { top:8px;}
.gnb .r_box li.op_btn .lst .i2 { top:16px;}
.gnb .r_box li.op_btn .lst .i3 { top:24px;}

.gnb .r_box .op_btn.on .lst .i1 { top:16px; transform:rotate(35deg);}
.gnb .r_box .op_btn.on .lst .i2 { display:none;}
.gnb .r_box .op_btn.on .lst .i3 { top:16px; transform:rotate(-35deg);}

/*page1*/
.con { width: 100vw; height:947px; }
.vs { width:100%; height: 100%; }
.vs_box { width: 400%; height: 100%;  }
.vs_box li { width: 25%; height:100%;  float:left; position:relative;}
.vs_box li .a01 { display: block; width: 1920px; height: 947px; background-repeat: no-repeat; background-position: center center; background-size: cover; color:#fff; }

.vs_box li.item01  a { background-image: url(./main/part_main/vs01.jpg);}
.vs_box li.item02  a { background-image: url(./main/part_main/vs02.jpg);}
.vs_box li.item03  a { background-image: url(./main/part_main/vs03.jpg);}
.vs_box li.item04  a { background-image: url(./main/part_main/vs04.jpg);}

.vs_box li .txt_box { position: absolute; text-align: center; width: 1200px; height: 300px; left: 20%; top: 30%; color:#fff;}

.vs_box li .txt_box h2 { font-size: 25px; font-weight: 500;}
.vs_box li .txt_box h1 { font-size: 40px; padding: 20px;}
.vs_box li .txt_box p { font-size: 18px; padding-top: 150px; }
.vs_box li.item .txt_box a.go { clear:both; display: block;  width: 150px; height: 60px; text-align: center; line-height: 60px; color: #fff; margin: 0px auto; margin-top: 30px; background-color:transparent;   }

/*page2*/

/*page3*/

/*page4*/